langchain==0.3.24
langchain-core==0.3.59
langchain_ollama==0.3.2
langchain_openai==0.3.16
langchain_chroma==0.2.3
langchain-community==0.3.23
chromadb==0.6.3
pydantic==2.11.3
posthog==4.0.0
prompt_toolkit
rich
jinja2
pypdf
pytz
pygments
pillow
requests
beautifulsoup4
rank_bm25
duckduckgo-search
ddgs
langchain-tavily
