langchain==1.3.18
langchain-core==1.6.1
langchain-classic==1.0.8
langchain-openai==1.6.0
langchain-ollama==1.1.0
langchain-chroma==1.1.0
langchain-text-splitters==1.1.2
langchain-tavily>=0.2.18
chromadb>=1.3.5,<2.0.0
pydantic>=2.7.4,<3
posthog
prompt_toolkit
rich==14.3.3
jinja2
pypdf
pytz
pygments
pillow
beautifulsoup4
rank_bm25
duckduckgo-search
ddgs
cloudscraper
streamlit
